<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NEW 블로그 게시판 - 상세 보기</title> <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">NEW 블로그 게시판</h1>
        <div class="mt-5">
            
            <div th:object="${boards}"> 
                <h2>게시글 상세보기</h2>
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td th:text="*{id}"></td>
                        </tr>
                        <tr>
                            <th>제목</th>
                            <td th:text="*{title}"></td>
                        </tr>
                        <tr>
                            <th>작성자</th>
                            <td th:text="*{user}"></td>
                        </tr>
                        <tr>
                            <th>작성일</th>
                            <td th:text="*{newdata}"></td> 
                        </tr>
                        <tr>
                            <th>조회수</th>
                            <td th:text="*{count}"></td>
                        </tr>
                        <tr>
                            <th>좋아요</th>
                            <td th:text="*{likec}"></td>
                        </tr>
                        <tr>
                            <th>글내용</th>
                            <td style="min-height: 150px;" th:utext="*{content}"></td>
                        </tr>
                        
                        <tr>
                            <th>기능</th>
                            <td>
                                <a class="btn btn-warning" th:href="@{/board_edit/{id}(id=*{id})}">수정</a>
                                
                                <form th:action="@{/api/board_delete/{id}(id=*{id})}" method="post" style="display:inline;">
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                </table>
            </div> <hr>
            <a href="/board_list" class="btn btn-secondary">목록으로 돌아가기</a>
        </div>
    </div>
</body>
</html>