<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>사용자 목록 출력</title>
</head>
<body>
    <h1>User List</h1>

    <table border="1">
        <thead>
            <tr>
                <th>ID (기본키)</th>
                <th>이름</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userList}">
                <td th:text="${user.id}">1</td> 
                <td th:text="${user.name}">홍길동</td>
            </tr>
        </tbody>
    </table>

</body>
</html>